.features-item h2,
.features-item h3{
    color:#2e2f42;
}
.features-item{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-container{
    margin: auto;
   
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.features-list-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}