.header-item{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.5;
    border-bottom: 1px solid #E7E9FC;
    
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 76px 24px 15px;
}
.header-nav{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.header-nav a {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    display: block;
}
.header-address{
    display: flex;
    gap: 40px;
    padding: 24px 15px 24px 300px;

}
.header-address a{
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.header-item a:hover,
.header-item a:focus {
    color:#404bbf;
}
